.link {
  display: block;
  width: 100%;
  border-radius: 12px;
  border: 2px solid #ddf6aa;
  padding: 10px;
  background: #333;
  &:hover {
    background: #737171;
  }
}

.title {
  color: white;
}

.desc {
  color: white;
}
